<%
  balance = local_assigns[:balance]

  gradient_class = case balance.leave_type
  when 'cp' then 'bg-gradient-to-br from-blue-50 to-blue-100 dark:from-blue-900 dark:to-blue-700 border-2 border-blue-300 dark:border-blue-500'
  when 'rtt' then 'bg-gradient-to-br from-green-50 to-green-100 dark:from-green-900 dark:to-green-700 border-2 border-green-300 dark:border-green-500'
  when 'maladie' then 'bg-gradient-to-br from-red-50 to-red-100 dark:from-red-900 dark:to-red-700 border-2 border-red-300 dark:border-red-500'
  else 'bg-gradient-to-br from-purple-50 to-purple-100 dark:from-purple-900 dark:to-purple-700 border-2 border-purple-300 dark:border-purple-500'
  end

  text_color = case balance.leave_type
  when 'cp' then 'text-blue-800 dark:text-white'
  when 'rtt' then 'text-green-800 dark:text-white'
  when 'maladie' then 'text-red-800 dark:text-white'
  else 'text-purple-800 dark:text-white'
  end

  value_color = case balance.leave_type
  when 'cp' then 'text-blue-900 dark:text-white'
  when 'rtt' then 'text-green-900 dark:text-white'
  when 'maladie' then 'text-red-900 dark:text-white'
  else 'text-purple-900 dark:text-white'
  end
%>

<div class="<%= gradient_class %> rounded-lg p-4 shadow-md h-full flex flex-col justify-between">
  <p class="text-xs <%= text_color %> font-medium opacity-90"><%= LeaveBalance.leave_type_name(balance.leave_type) %></p>
  <p class="text-2xl font-bold <%= value_color %> mt-1">
    <%= balance.balance.to_f.round(1) %>
    <span class="text-sm font-normal <%= text_color %> opacity-90">jours</span>
  </p>
  <% if balance.expiring_soon? %>
    <p class="text-xs text-orange-600 dark:text-orange-200 mt-1 flex items-center">
      <svg class="w-3 h-3 mr-1" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
      </svg>
      Expire bientôt
    </p>
  <% end %>
</div>
